{% extends "layout.html" %}
{% block content %}
  {% if songs %}
    <legend class="border-bottom mb-4">
      All Songs
    </legend>
    {% for song in songs %}
      <article class="media content-section">
        <div class="media-body">
          <a href="{{ url_for('song', song_id=song.id) }}" class="title">
            <div class="song-body d-flex justify-content-between">
              <small>{{ song.title }}</small>
              <small>{{ song.artist }}</small>
              <small>{{ song.album }}</small>
            </div>
          </a>
        </div>
      </article>
    {% endfor %}
  {% else %}
    <h2>All songs will appear here</h2>
    <p class="text-muted">Please upload songs by clicking on upload button!</p>
  {% endif %}
{% endblock content %}
