{% extends "layout.html" %}
{% block content %}
  {% if songs %}
    {% for song in songs %}
      <article class="media content-section">
        <div class="media-body">
          <a href="#" class="song-body">
            <div class="song-body d-flex justify-content-between">
              <small>{{ song.title }}</small>
              <small>{{ song.artist }}</small>
              <small>{{ song.album }}</small>
            </div>
          </a>
        </div>
      </article>
    {% endfor %}
  {% else %}
    <h2>Your songs will appear here.</h2>
    <p class="text-muted">Please upload songs by clicking on upload button!</p>
  {% endif %}
{% endblock content %}
