{% extends "layout.html" %}
{% block content %}
  {% if song %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <legend class="mb-1">
            {{ song.title }}
          </legend>
          <p class="text-muted">
            By <strong>{{ song.artist }}</strong> from <strong>{{ song.album }}</strong>
          </p>
        </div>
        <audio controls
               autoplay
               loop
               controlslist="nodownload"
               class="w-100 mt-2 mb-2">
          <source src="{{ music }}" type="audio/mp3"/>
          <source src="{{ music }}" type="audio/mpeg"/>
          <source src="{{ music }}" type="audio/wav"/>
          Your browser does not support the audio tag.
        </audio>
        <div class="btns">
          <a class="btn btn-outline-info"
             href="{{ url_for('songs.download', song_id = song.id) }}">Download</a>
          {% if song.owner == current_user %}
            <button type="button"
                    class="btn btn-outline-danger m-2"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModalCenter">
              Delete
            </button>
          {% endif %}
        </div>
      </div>
    </article>
    <!-- Modal -->
    <div class="modal fade"
         id="deleteModalCenter"
         tabindex="-1"
         aria-labelledby="deleteModalCenterTitle"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLongTitle">Delete Song?</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{{ url_for('songs.delete', song_id=song.id) }}" method='post'>
              <input type="submit" class="btn btn-danger" value="Delete" />
            </form>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <h2>Song does not exist!</h2>
    <p class="text-muted">Try to play other songs.</p>
  {% endif %}
{% endblock content %}
