{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <form method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="form-group mb-3">
        <legend class="border-bottom mb-4">
          Upload Song
        </legend>
        <div class="form-group">
          {{ form.song.label(class='form-control-label') }}
          {% if form.song.errors %}
            <div class="invalid-feedback">
              {% for error in form.song.errors %}<span>{{ error }}</span>{% endfor %}
            </div>
          {% else %}
            {{ form.song(class='form-control') }}
          {% endif %}
        </div>
      </fieldset>
      <div>{{ form.submit(class='btn btn-outline-info') }}</div>
    </form>
  </div>
{% endblock content %}
